<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_amenu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,575},{55,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{55,56}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>game_amenu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,654},{61,62}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{61,62}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>game_btn_apc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,718},{39,43}}</string>
                <key>offset</key>
                <string>{-124,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{39,43}}</string>
                <key>sourceSize</key>
                <string>{325,55}</string>
            </dict>
            <key>game_btn_apc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,537},{49,51}}</string>
                <key>offset</key>
                <string>{-125,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{49,51}}</string>
                <key>sourceSize</key>
                <string>{325,55}</string>
            </dict>
            <key>game_btn_bot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,896},{50,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{50,78}}</string>
                <key>sourceSize</key>
                <string>{56,86}</string>
            </dict>
            <key>game_btn_bot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,427},{56,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,86}}</string>
                <key>sourceSize</key>
                <string>{56,86}</string>
            </dict>
            <key>game_btn_changdesk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,783},{50,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{50,78}}</string>
                <key>sourceSize</key>
                <string>{56,86}</string>
            </dict>
            <key>game_btn_changdesk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,427},{56,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,86}}</string>
                <key>sourceSize</key>
                <string>{56,86}</string>
            </dict>
            <key>game_btn_chao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,588},{198,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,73}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>game_btn_chao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,582},{176,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{176,65}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>game_btn_chao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,229},{196,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,73}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>game_btn_exit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,783},{50,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{50,78}}</string>
                <key>sourceSize</key>
                <string>{56,86}</string>
            </dict>
            <key>game_btn_exit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,863},{56,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,86}}</string>
                <key>sourceSize</key>
                <string>{56,86}</string>
            </dict>
            <key>game_btn_lipai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,976},{45,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{45,43}}</string>
                <key>sourceSize</key>
                <string>{77,55}</string>
            </dict>
            <key>game_btn_lipai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,535},{55,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{55,51}}</string>
                <key>sourceSize</key>
                <string>{77,55}</string>
            </dict>
            <key>game_btn_outcard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,229},{196,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{196,73}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>game_btn_outcard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,760},{176,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{176,65}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>game_btn_outcard3.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,585},{196,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{196,73}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>game_btn_pass1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,585},{196,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,73}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>game_btn_pass2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,582},{176,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{176,65}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>game_btn_pass3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,760},{176,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{176,65}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>game_btn_pc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,718},{39,43}}</string>
                <key>offset</key>
                <string>{-124,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{39,43}}</string>
                <key>sourceSize</key>
                <string>{325,55}</string>
            </dict>
            <key>game_btn_pc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,976},{39,43}}</string>
                <key>offset</key>
                <string>{-124,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{39,43}}</string>
                <key>sourceSize</key>
                <string>{325,55}</string>
            </dict>
            <key>game_btn_ranking1.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,924},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>game_btn_ranking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,427},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>game_btn_ranking3.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,938},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>game_btn_ready1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,229},{196,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{196,73}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>game_btn_ready2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,582},{176,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{176,65}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>game_btn_ready3.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,229},{196,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{196,73}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>game_btn_set1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,535},{50,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{50,78}}</string>
                <key>sourceSize</key>
                <string>{56,86}</string>
            </dict>
            <key>game_btn_set2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,863},{56,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,86}}</string>
                <key>sourceSize</key>
                <string>{56,86}</string>
            </dict>
            <key>game_btn_talk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,938},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>game_btn_talk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,427},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>game_btn_talk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,427},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>game_btn_tellme1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,229},{196,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,73}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>game_btn_tellme2.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,515},{176,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{176,65}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>game_btn_tellme3.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,229},{196,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,73}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>game_card_lost.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,511},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>game_cardout_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{589,225}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{589,225}}</string>
                <key>sourceSize</key>
                <string>{599,291}</string>
            </dict>
            <key>game_difen_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,588},{273,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,55}}</string>
                <key>sourceSize</key>
                <string>{273,55}</string>
            </dict>
            <key>game_headbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,863},{102,151}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{102,151}}</string>
                <key>sourceSize</key>
                <string>{108,167}</string>
            </dict>
            <key>game_headbg_me.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{96,88}}</string>
                <key>sourceSize</key>
                <string>{108,100}</string>
            </dict>
            <key>game_menu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,654},{55,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{55,56}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>game_menu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,511},{61,62}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{61,62}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>game_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,229},{304,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,109}}</string>
                <key>sourceSize</key>
                <string>{304,109}</string>
            </dict>
            <key>game_nextplayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,863},{135,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,77}}</string>
                <key>sourceSize</key>
                <string>{135,77}</string>
            </dict>
            <key>game_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,577},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>game_pc.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,588},{330,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,59}}</string>
                <key>sourceSize</key>
                <string>{330,59}</string>
            </dict>
            <key>game_pc_player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{331,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,24}}</string>
                <key>sourceSize</key>
                <string>{331,24}</string>
            </dict>
            <key>game_player_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{425,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,225}}</string>
                <key>sourceSize</key>
                <string>{425,225}</string>
            </dict>
            <key>game_player_infome.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{425,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,225}}</string>
                <key>sourceSize</key>
                <string>{425,225}</string>
            </dict>
            <key>game_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,760},{134,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,81}}</string>
                <key>sourceSize</key>
                <string>{134,81}</string>
            </dict>
            <key>game_zbottom_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,229},{306,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,43}}</string>
                <key>sourceSize</key>
                <string>{306,43}</string>
            </dict>
            <key>gane_btn_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,587},{196,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{196,73}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>gane_btn_start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,518},{178,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{178,65}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>gane_btn_start3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,788},{196,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{196,73}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>jifen_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,921},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>nobigcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{357,55}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{357,55}}</string>
                <key>sourceSize</key>
                <string>{371,73}</string>
            </dict>
            <key>talk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,427},{132,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,89}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>talk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,427},{132,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,89}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>talk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,921},{132,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,89}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>tip_nochang.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,760},{162,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,60}}</string>
                <key>sourceSize</key>
                <string>{162,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d8067369d012f57d2bfd1590d81399c$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
